<div>uname: <input name="uname"></div>
<div>password: <input name="password"  type="password"></div>
<div>r password: <input name="rpassword" type="password"></div>
Type:
<div class="form-check">
  <input class="form-check-input" type="radio" name="sub_type"  value="1" >
  <label class="form-check-label" for="exampleRadios1">
    Default radio
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="sub_type"  value="2">
  <label class="form-check-label" for="exampleRadios2">
    Second default radio
  </label>
<div>
<div>name: <input name="name" ></div>
<div>phone: <input name="phone"></div>
<div>address: <input name="address" ></div>
<div>email: <input name="email" ></div>
<div><button> register</button></div>
